   
   
    body{
      background-color: #B6B6B6;
      color: #C2185B;
      font-family: sans-serif;
    }
    nav a {
        text-decoration: none;
        color:#FFFFFF;
    }
    
    h2{
      color: #F8BBD0;
    }
