   
   
    body{
      background-color: #FFFFFF;
      color: #512DA8;
      font-family: sans-serif;
    }
    nav a {
        text-decoration: none;
        color:#9E9E9E;
        border-radius: 3px;
        margin: 7px;
        padding: 5px;
    }
    
    h2{
      color: #727272;
    }
