   
   
    body{
      background-color: #FFFFFF;
      color: #512DA8;
      font-family: sans-serif;
    }
    nav a {
        text-decoration: none;
        color:#FFFFFF;
        background-color:#D1C4E9;
        border-radius: 3px;
        margin: 7px;
        padding: 5px;
        display: inline-block;
    }
    nav a:hover {
         background-color:#673AB7;
         color:#212121;
    }
    
    h2{
      color: #727272;
    }
